h1{
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	color: #263555;
}
li{
	list-style-type: none;
}
header{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-bottom: 15px;
	padding-top: 46px;
	margin: 0 auto;
	max-width: 904px;
}
.menu{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	min-width: 30%;
	max-width: 30%;
	margin-top: 56px;
}
.menu>.about{
	position: relative;
	cursor: pointer;
}
.submenu{
	opacity: 0;
	cursor: pointer;
}
.submenu{
	width: 100%;
	line-height: 25px;
	padding: 9px 0;
	background: #fff;
	border-radius: 2px;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}
.submenu:before{
	content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 3px 5px 3px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  transform: translate(-50%,-100%);
  margin-top: -9px;
}
.menu>li{
	font-family: "Pathway Gothic One", sans-serif;
	font-size: 28px;
	text-transform: uppercase;
}
.about:hover .submenu{
	opacity: 1;
}
.about:hover a{
	color: #263555;
}
li>a{
	text-decoration: none;
	color: #fff;
}
.logo{
	width: 138px;
	height: 138px;
	border-radius: 50%;
	background: #fff;
	text-transform: uppercase;
	text-decoration: none;
	color: #263555;
	line-height: 138px;
	text-align: center;
	font-family: "Dorsa", sans-serif;
	font-size: 60px;
}
body{
	background: url(../img/background.jpg) center no-repeat;
}
main{
	display: flex;
	flex-flow: row wrap;
	position: relative;
	justify-content: space-between;
}
h1{
	text-transform: uppercase;
	margin-top: 56px;
	margin-bottom: 50px;
}
h2{
	text-transform: uppercase;
	margin-bottom: 23px;
	text-align: center;
	color: #fff;
}
h3{
	font-size: 15px;
}
.wrapper{
	width: 900px;
	margin: 0 auto;
	background: #fff;
	padding: 60px 60px 89px;
}
.slider-image{
	width: 900px;
	height: 580px;
}
.button-left{
	width: 45px;
	height: 90px;	
	border-radius: 100% 0 0 100% / 50% 0 0 50%;
	position: absolute;
	background: #38afe5;
	top: 450px;
	left: 37px;
}
.button-left:hover{
	opacity: 0.7;
}
.button-right:hover{
	opacity: 0.7;
}
.banner1{
	position: absolute;
	background: #fff;
	width: 225px;
	height: 61px;
	top: 218px;
	color: #344260;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center;
	line-height: 61px;
}
.banner2{
	position: absolute;
	background: #38afe5;
	width: 276px;
	height: 60px;
	top: 278px;
	text-transform: uppercase;
	font-size: 34px;
	font-family: 'Pathway Gothic One', sans-serif;
	text-align: center;
	line-height: 60px;
}
.button-right{
	width: 45px;
	height: 90px;	
	border-radius: 0 100% 100% 0 / 0 50% 50% 0;
	position: absolute;
	background: #38afe5;
	top: 450px;
	left: 82px;
}
.row123{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 56px;
	min-width: 100%;
}
.img-row1{
	position: relative;
	background: url(../img/img1.jpg);
	width: 290px;
	height: 270px;
}
.img-row2{
	position: relative;
	background: url(../img/img2.jpg);
	width: 290px;
	height: 270px;
}
.img-row3{
	position: relative;
	background: url(../img/img3.jpg);
	width: 290px;
	height: 270px;
}
.img-row1:hover>.venice{
	opacity: 1;
	transition: all 1s ease 0s;
}
.img-row2:hover>.venice{
	opacity: 1;
	transition: all 1s ease 0s;
}
.img-row3:hover>.venice{
	opacity: 1;
	transition: all 1s ease 0s;
}
.venice{
	transition: all 1s ease 0s;
	opacity: 0;
	position: absolute;
	background: #193149;
	height: 229px;
	width: 125px;
	padding: 22px 11px 19px 9px;
}

.venice>p{
	color: #fff;
	font-size: 10px;
	line-height: 16px;
}
.details{
	display: inline-block;
	background: #fff;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	padding: 4px 11px 5px;
	margin-top: 32px;
	margin-left: 72px;
}
.details>a{
	text-decoration: none;
	color: #193149;
}
.razdel{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.razdel>div{
	font-family: 'Pathway Gothic One', sans-serif;
	width: 125px;
	height: 30px;
	border: 1px solid #dedbdb;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
	font-size: 19px;
}
.razdel>div:hover{
	color: lime;
}

.newsletter{
	font-family: 'Open Sans Condensed';
	font-size: 19px;
	width: 31.3%;
	height: 30px;
	border: 1px solid #dedbdb;
	text-transform: uppercase;
	text-align: center;
	line-height: 30px;
}
.newsletter:hover{
	color: lime;
}
footer>a:hover{
	color: lime;
}
.left-bottom{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	height: 317px;
	width: 63%;
	border: 1px solid #dfdcdc;
	padding: 41px 19px 42px 14px;
}
.bottom-top{
	max-height: 105px;
	max-width: 365px;
	margin-left: 20px;
}
.bottom-bottom{
	max-height: 105px;
	max-width: 365px;
	margin-left: 20px;
}
.left-bottom>img{
	width: 197px;
	height: 105px;
}
.bottom-top>p{
	font-size: 10px;
	line-height: 12px;
	margin-top: 21px;
}
.bottom-bottom>p{
	font-size: 10px;
	line-height: 15px;
	margin-top: 21px;
}
.bottom-top>a{
	text-decoration: none;
	color: #193149;
	display: inline-block;
	background: #c6c1c1;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	padding: 4px 11px 5px;
	margin-top: 18px;
	margin-left: 271px;
}
.bottom-bottom>a{
	text-decoration: none;
	color: #193149;
	display: inline-block;
	background: #c6c1c1;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
	padding: 4px 11px 5px;
	margin-top: 18px;
	margin-left: 271px;
}
.right-bottom{
	display: flex;
	flex-direction: column;
	padding: 0 15px;
	height: 400px;
	width: 28%;
	border: 1px solid #dfdcdc;
}
.letter>li:before{
	content: url(../img/arrow-right.jpg);
	margin-right: 15px;
}
.letter{
	margin-top: 46px;
}
.letter>li{
	line-height: 31px;
}
.right-bottom>p{
	margin-top: 43px;
	margin-bottom: 21px;
}
input{
	color: #868f8f;
	padding-left: 25px;
	border: 1px solid #e2dfdf;
	border-radius: 4px;
}
footer{
	background: #30455b;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-around;
	padding: 44px 60px 30px;
	width: 100%;
	margin: 0 auto;
	max-width: 904px;
	max-height: 60px;
}
footer>a{
	line-height: 28px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-family: "Open Sans Condensed";
	font-size: 16px
}
footer>p{
	font-size: 12px;
	color: #fff;
}
footer>a:hover{
	color: lime;
}
.arrow-top{
	position: fixed;
	border-radius: 50%;
	top: 625px;
	left: 1143px;
	width: 30px;
	height: 30px;
}
.sprite{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-top: 21px;
	max-width: 196px;
	margin: 0 auto;
}
.bg-facebook {
    width: 40px; height: 40px;
    background: url(../img/sprite.png) -12px -12px;
    border-radius: 50%;
}

.bg-in {
    width: 40px; height: 40px;
    background: url(../img/sprite.png) -76px -12px;
    border-radius: 50%;
}

.bg-twitter {
    width: 40px; height: 40px;
    background: url(../img/sprite.png) -140px -12px;
    border-radius: 50%;
}

.bg-google {
    width: 40px; height: 40px;
    background: url(../img/sprite.png) -204px -12px;
    border-radius: 50%;
}
.otstup{
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}

